@charset "UTF-8";

.detail_tabmenu {border-bottom:1px solid #222;height:57px;width:1260px;margin:0 auto 15px;}
.detail_tabmenu ul a.on {background-color:#fff !important; border-bottom:1px solid #fff !important; border-top:1px solid #222; border-right:1px solid #222; border-left:1px solid #222; color:#000;}
.detail_tabmenu ul li {width:205px; height:56px; line-height:56px; background-color:#fafafa; text-align:center; float:left;}
.detail_tabmenu ul li a {color:#777777; font-size:14px; display:block; width:203px; height:56px;  line-height:56px; background-color:#fafafa; border-top:1px solid #dedede; border-left:1px solid #dedede; border-bottom:1px solid #222;}
.detail_tabmenu ul li a.on {font-weight:bold;}
.detail_tabmenu ul li a.bdr {border-right:1px solid #dedede;}
.detail_tabmenu ul li:first-child {margin-left:118px;}

